+width-max(1220px)
  body 
  .wrapper
  .container-wrapper 
  .menu-wrapper
  .main-menu__sub-menu-wrapper
    width 100%
    

+width-max(1160px)
  .col__25_responive
    display: none
  .col__25_1000
    width 280px
  .col__50 
    width 580px
  .section__items_responsive,
  .section__responsive
    width 860px 
    margin-left auto
    margin-right auto
  .section__discounts__row
    .col__25 
      width 33.3%
      &:last-child
        display: none
  .section__service
    .col__28 
      width 32%
  .section__items
  .section__service
    padding-bottom 30px
  .section__discounts__row
    margin 30px 0 30px 0
  .section__about 
    margin 30px 0 0 0
    padding 30px 0 0 0
  .section__news
    padding 30px 0
    .col__20 
      width 30%
      &:last-child
        display none
  .footer__responsive
    flex-wrap wrap 
    .col__20 
      width 30%
    .col__60 
      width 70%
    .col__19 
      width 100%
      margin-top 10px
      display flex
      padding 0px
  .footer__pay
    display flex
    justify-content space-between
  .footer__col__3 
    flex-direction row
    justify-content space-between
  .footer__pay__bottom
    margin-top 0px
  .footer__socials
    margin-bottom 0px
    align-self auto
    
        
+width-max(1024px)
  .footer__copy,
  .footer__dev span
    font-size 12px
  .main-menu__item:hover 
    .main-menu__sub-menu
      display none

    
+width-max(915px)
  .section__discounts__row
    margin 0px 0 0 0
  .section__news__item
    margin 0 5px
  .section__about
    .col__50 
      width 100% 
      padding 0px
      &:last-child
        display none
  .responsive__slider-3
    .f__col 
      margin 20px 2px 5px 2px
  .section__service__item
    padding 30px 0 20px 0
  .section__service__heading
    margin 15px 0
  .section__items_responsive
    .col__50 
      display none
    .col__25_1000
      display flex
    .col__25_responive
      display block
      width 280px
  .section__items_responsive
  .section__responsive
    width 560px
  .section__discounts__row 
    .col__25
      width 50%
      &:last-child
        display block
  .section__brands .slick-next
    right 9px
  .section__service__item
    margin 0 5px
  .footer__responsive .col__60
    width 100%
  .footer__col__1
    margin 0 0 20px 0
    align-items: center
    padding 0px
    width 100%
    display flex
    justify-content space-between
  .footer__copy
    margin 0px
  .main-menu 
    display none
  .footer__col__3
    flex-wrap wrap
  .footer__pay__bottom
    margin-top 20px

+width-max(800px)
  .header__top__phone
    &:last-child
      display none
      

+width-max(714px)
  .resp 
    display none
  .button_cart::before,
  .button_compare::before,
  .button_favorite::before
    margin 0px
    

+width-max(605px)
  .footer__socials__link 
    margin-right 10px
  .footer__socials
    justify-content flex-start
  .footer__pay
    align-self flex-start
  .footer__col__3
    justify-content: flex-start;
    flex-direction column
  .footer__responsive__menu
    display block
  .footer
    padding-bottom 20px
    .col__60
      display none
  .footer__socials
    width 100%
    margin-bottom 20px
    margin-top 10px
  .footer__pay:nth-child(2)
    margin-bottom 20px
  .section__service__item
    margin 0px
  .section__brands .slick-prev, .section__brands .slick-next
  .section__slider .slick-prev, .section__slider .slick-next
    display none !important
  .view-all
    font-size 14px
  h2 
    font-size 20px
  .section__news__item__img img
    width 100%
  .wrapper 
    width 100%
  .footer__logo-wrapper
    width 100%
    text-align left
    margin-bottom 20px
  .footer
    .col__60
      flex-direction column
  .col__21 
    flex-wrap wrap
    justify-content: flex-start;
  .footer__copy
    margin-right 20px
  .footer__logo
    margin-right 20px
  .header__top
    display: none
  .container-wrapper_responsive-slider
    padding 0px
  .slider-wrapper
    border-radius 0px !important
  .section__items_responsive .col__25_1000
    display none
  .section__items__small-2
    margin-top 0px
  .section__items_responsive, 
  .section__responsive
    width 100%
  .section__items_responsive .col__25_responive
    width 100%
    padding 0px
  .section__items, .section__service
    padding-bottom 10px
  .section__brands__row
    padding-top 17px
  .section__about__heading
    font-size 20px
    

+width-max(495px)
  .header__middle__search
    display none
    

+width-max(360px)
  .header__middle__compare
    display none
  .wrapper 
    min-width 320px
  