extends layout
include mixins.pug

block content
  - var pageId = 0;
  +header()
  section.section__slider 
    .container-wrapper.container-wrapper_responsive-slider
      .slider-wrapper
        .slick-slider-1
          - for ( var x = 0 ; x < 3 ; x ++ )
            .slide
              img(src="images/slider/1.jpg", alt="")
  section.section__items
    .container-wrapper
      .f-container
        .f__row.section__items_responsive
          .f__col.col__50
            .section__items__col.section__items__big-item
              .section__items__top
                span.section__items__cat Садовые трактора и райдеры газонокосилки
                h2 
                  a(href="item.html") Husqvarna R 112C5
                span.section__items__desc Садовый райдер-газонокосилка с декой 85 см.
              .section__items__bottom
                span.section__items__old-price 250 000 ₽
                span.section__items__price 232 900 ₽
                a(href="").button.button_yellow.button_buy Купить
          .f__col.col__25.col__25_1000.row
            .section__items__col.section__items__mid-item 
              span.section__items__cat Бензопилы и электропилы
              h2 
                a(href="item.html") Бензопила Husqvarna 445 e II 15" X-Torq
              .section__items__mid-item__bottom
                span.section__items__old-price 30 000 ₽
                span.section__items__price 25 456 ₽
                a(href="").button.button_yellow.button_buy Купить
          .f__col.col__25.col__25_responive.responsive__slider-5 
            .section__items__col.section__items__small
              span.section__items__cat Рубанки электрические
              h2 
                a(href="item.html") Рубанок Bosch PHO 1500
              .section__items__small__small
                span.section__items__old-price 1 000 ₽
                .row
                  span.section__items__price 5 456 ₽
                  a(href="").button_buy-small
            .section__items__col.section__items__small.section__items__small-2
              span.section__items__cat Электрические перфораторы
              h2 
                a(href="item.html") Перфоратор Вихрь П-800
              .section__items__small__small
                span.section__items__old-price 1 000 ₽
                .row
                  span.section__items__price 4 599 ₽
                  a(href="").button_buy-small
  section.section__discounts.section__responsive
    .container-wrapper
      .row.center.between
        h2 Акции скидки
        a(href="").view-all Смотреть все
      .section__discounts__row
        .f-container
          .f__row.responsive__slider-3
            .f__col.col__25
              .section__item.section__item_present
                .section__item__rate
                  .rate
                    .c-rating
                      input(type="radio" name='example' class='rating' value='1')
                      input(type="radio" name='example' class='rating' value='2')
                      input(type="radio" name='example' class='rating' value='3')
                      input(type="radio" name='example' class='rating' value='4')
                      input(type="radio" name='example' class='rating' value='5')
                .section__item__img
                  img(src="images/catalog/1.jpg", alt="")
                a(href="item.html").section__item__heading Husqvarna 128R
                span.section__items__cat Триммеры и мотокосы
                a(href="").button_compare-item Сравнить
                .row.between.section__item__price-row
                  .col__left 
                    span.section__items__old-price 250 000 ₽
                    span.section__items__price 17 500 ₽
                  .col__right 
                    a(href="").like-button
                    a(href="").by-button
            .f__col.col__25
              .section__item.section__item_discount
                .section__item__timer 2 дня
                .section__item__rate
                  .rate
                    .c-rating
                      input(type="radio" name='example' class='rating' value='1')
                      input(type="radio" name='example' class='rating' value='2')
                      input(type="radio" name='example' class='rating' value='3')
                      input(type="radio" name='example' class='rating' value='4')
                      input(type="radio" name='example' class='rating' value='5')
                .section__item__img
                  img(src="images/catalog/1.jpg", alt="")
                a(href="item.html").section__item__heading Husqvarna 128R
                span.section__items__cat Триммеры и мотокосы
                a(href="compare.html").button_compare-item Сравнить
                .row.between.section__item__price-row
                  .col__left 
                    span.section__items__old-price 250 000 ₽
                    span.section__items__price 17 500 ₽
                  .col__right 
                    a(href="").like-button
                    a(href="").by-button
            .f__col.col__25
              .section__item.section__item_action
                .section__item__rate
                  .rate
                    .c-rating
                      input(type="radio" name='example' class='rating' value='1')
                      input(type="radio" name='example' class='rating' value='2')
                      input(type="radio" name='example' class='rating' value='3')
                      input(type="radio" name='example' class='rating' value='4')
                      input(type="radio" name='example' class='rating' value='5')
                .section__item__img
                  img(src="images/catalog/1.jpg", alt="")
                a(href="item.html").section__item__heading Husqvarna 128R
                span.section__items__cat Триммеры и мотокосы
                a(href="").button_compare-item Сравнить
                .row.between.section__item__price-row
                  .col__left 
                    span.section__items__old-price 250 000 ₽
                    span.section__items__price 17 500 ₽
                  .col__right 
                    a(href="").like-button
                    a(href="").by-button
            .f__col.col__25
              .section__item.section__item_new
                .section__item__rate
                  .rate
                    .c-rating
                      input(type="radio" name='example' class='rating' value='1')
                      input(type="radio" name='example' class='rating' value='2')
                      input(type="radio" name='example' class='rating' value='3')
                      input(type="radio" name='example' class='rating' value='4')
                      input(type="radio" name='example' class='rating' value='5')
                .section__item__img
                  img(src="images/catalog/1.jpg", alt="")
                a(href="item.html").section__item__heading Husqvarna 128R
                span.section__items__cat Триммеры и мотокосы
                a(href="").button_compare-item Сравнить
                .row.between.section__item__price-row
                  .col__left 
                    span.section__items__old-price 250 000 ₽
                    span.section__items__price 17 500 ₽
                  .col__right 
                    a(href="").like-button
                    a(href="").by-button
  section.section__service.section__responsive
    .container-wrapper
      .row.between.responsive__slider-2 
        .col__28.section__service__item
          .section__service__icon-1
          span.section__service__heading Сервис 24/7
          p Круглосуточный сервис, если что-то сломается приходите приносите, сразу все починим. Если что не чиниться заменим. Самые кайфовые специалисты, еще лучше чем у компаний производителей.
        .col__28.section__service__item
          .section__service__icon-2
          span.section__service__heading Гарантия
          p Мы предоставляем гарантию на все товары от одного года помимо гарантии, которую предоставляет производитель.
        .col__28.section__service__item
          .section__service__icon-3
          span.section__service__heading Доставка
          p Мы осуществляем доставку собственным транспортом. Также возможна доставка Почтой России и любой транспортной компанией. Все заказы дороже 100 000 рублей страхуются при отправлении за счет компании.
  section.section__brands.section__responsive
    .container-wrapper
      .row.center.between
        h2 Брэнды
      .section__brands__row 
        .section__brands__slider
          .slick-silder-2
            - for (var x = 0 ; x < 8 ; x ++)
              .slide 
                img(src="images/brands/1.jpg", alt="")
  section.section__about
    .container-wrapper.section__responsive
      .row
        .col__50.col_margin-40.section__about__item
          span.section__about__heading Коси и забивай!
          p "Техно Дача" - это лидер российского рынка производства навесного оборудования для мотоблоков и мотокультиваторов. Компания была основана в 1993 году, и сейчас она продолжает динамично развиваться, расширяя номенклатуру производства и постоянно модернизируя свою продукцию.
          p Численность персонала завода составляет более 200 человек. На предприятии используются самые современные методы производства, такие как порошковая покраска, термообработка металлов с помощью токов высокой частоты, сварка в среде углекислого газа, лазерная резка на автоматизированном обрабатывающем центре. 
          p Покупая продукцию "Техно Дача", Вы можете быть уверены в ее высоком качестве и отличных эксплуатационных характеристиках. Тесное сотрудничество с такими компаниями, как Unisaw, Hitachi, Нева-Красный Октябрь, Калужский двигатель подтверждает этот факт.
        .col__50
          .section__about__img-wrapper
            img(src="images/background/1.png", alt="")
  section.section__news.section__responsive
    .container-wrapper
      .row.center.between
        h2 Новости
        a(href="news.html").view-all Смотреть все
      .section__news__row 
        .row.between.responsive__slider-4
          - for (var x = 0 ; x < 4 ; x ++)
            .section__news__item.col__20
              .section__news__item__img 
                a(href="news.html")
                  img(src="images/news/1.jpg", alt="")
              a(href="news.html").section__news__item__link Скидка 10% на всю продукцию Daewoo по выходным дням!
              span.section__news__date 15 апреля 2016
              p Каждые выходные дни компания Daewoo снижает цены на всю линейку садово- ... парковой 

