// Header buttons 
.section__items__cat
  display: block
.button_cart 
  color white
  position: relative
.button_compare 
  position: relative
  .header__middle__counter
    background: yellow 
    color white
.header__middle__counter
  position absolute
  top -10px
  left -10px
  border 1px solid yellow 
  border-radius (50%)
  width 20px 
  height @width
  font-size 13px
  line-height 20px
  background: white 
  
// View all 
.view-all 
  color green
  font-size 16px 
  text-decoration: underline


// Reset class
.section__item
  .section__items__price
    margin-bottom 0px
    
// Rate
.rate 
  width 126px
.star
    sprite($sprite-star)
    display:block;
    float:left;
    cursor: pointer;
    zoom:1
    margin-right 4px
.fullStar
    sprite($sprite-star-active)
.stars
    overflow: hidden;
.tmp_es
    sprite($sprite-star)
.tmp_fs
    sprite($sprite-star-active)


// Cal margin 
.col_margin-40 
  margin-right 40px
  

// Slick 
.slick-dots li button:before
  font-size 10px
  color #231f20
  opacity 0.7
.slick-dots li.slick-active button:before
  color yellow
  opacity: 1
.slick-dots li
  margin 0px
